body {
    margin: 0;
    color: white;
    position: relative;
    background-color: #1d1d1d;
}
body::-webkit-scrollbar {
    width: 0px !important;
}

.content {
    padding-top: 110px;
}

/* header end */
/* footer start */
/* footer start */
/* footer {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    
} */

/* menu start  */

/* search box */
.search-box {
    top: 55px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-height: 300px;
    overflow: scroll;
    background: rgb(54, 54, 54);
    box-shadow: 1px 1px 10px rgb(105, 105, 105), -1px -1px 10px rgb(105, 105, 105);
    border-radius: 10px;
    z-index: 1;
}
.search-box::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
.search-box .image img {
    margin-left: 20px;
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s linear;
}
.item-search-box {
    cursor: pointer;
    position: relative;
}
.item-search-box:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.item-search-box .name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    font-size: 20px;
}
.hidden {
    display: none;
}
.user-action {
    display: flex;
    position: absolute;
    right: 20px;
    top: 35px;
}
.lg-icon {
    margin-top: -40px;
    text-decoration: none;
    font-size: 40px;
}
.icon-profile {
    margin-top: -40px;
    text-decoration: none;
    font-size: 40px;
}
.rgt-bt a {
    color: white;
    text-decoration: none;
}
.rgt-bt a:hover {
    color: white;
}
.rgt-bt {
    margin-left: 150px;
}
/* search-box end */


/* checkout end */

.contact {
    position: absolute;
    left: 50%;
    transform: translateX(300px);
}
