body {
    margin: 0;
    color: white;
    position: relative;
    background-color: #1d1d1d;
}
body::-webkit-scrollbar {
    width: 0px !important;
}

.content {
    padding-top: 110px;
}

/* banner start */
.banner {
    padding: 5px;
    width: 100%;
    height: 365px;
    background-color: white;
    position: relative;
    margin-top: 20px;
}
.banner .banner-slide {
    width: 695px;
    height: 355px;
    overflow: hidden;
    position: relative;
}
.slides {
    width: calc(695px * 4);
    height: 355px;
    transition: 0.5s ease-in-out;
    display: flex;
}

.slide {
    width: 695px;
    height: 355px;
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
}
.bar {
    width: 50px;
    height: 10px;
    border: 1px solid rgb(141, 141, 141);
    cursor: pointer;
    margin-right: 10px;
    transition: 0.1s linear;
}
.bar:last-child {
    margin-right: 0px;
}
.bar:hover {
    background-color: #ffa500;
}
.navigation .checked {
    background-color: #ffa500;
}
.banner .banner-left {
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    width: calc(100% - 710px);
    top: 0px;
    right: 0px;
}
.banner .banner2 {
    height: 175px;
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10px;
}
.banner .banner3 {
    margin-top: 5px;
    height: 175px;
    background-color: violet;
    background-image: url("../images/banner3.jpg");
    background-size: cover;
    background-position-y: -10px;
    background-repeat: no-repeat;
}
/* banner end  */

/* footer start */
footer {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer {
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer a {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1;
}
#twitter {
    left: 160px;
}
#facebook {
    left: 240px;
}

#instagram {
    left: 320px;
}
.footer a::before {
    content: "";
    width: 0px;
    height: 0px;
    bottom: 0;
    right: 0;
    border: transparent solid 2px;
    position: absolute;
    transition: 0.2s linear;
    z-index: 0;
}
.footer a:hover::before {
    border-bottom: 2px solid hsl(353, 100%, 71%);
    border-right: 2px solid hsl(353, 100%, 71%);
    width: 100%;
    height: 100%;
}
.footer a::after {
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    border: transparent solid 2px;
    position: absolute;
    transition: 0.2s linear;
    z-index: 0;
}
.footer a:hover::after {
    border-top: 2px solid hsl(353, 100%, 71%);
    border-left: 2px solid hsl(353, 100%, 71%);
    width: 100%;
    height: 100%;
}
.footer a:hover {
    color: hsl(353, 100%, 71%);
}
/* footer end */

/* header start */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #181818 50%, transparent);
    z-index: 100;
    margin: 0px !important;
    padding-top: 20px;
}
header .title {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
header .title h1 {
    color: white;
    margin: 0px;
    padding: 0px;
}
head .title a:hover {
    color: white;
}
head .title a {
    text-decoration: none !important;
}
header .search-bar {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .icon-search {
    position: absolute;
    font-size: 30px;
    color: rgb(94, 94, 94);
    top: 5px;
    right: 5px;
    cursor: pointer;
}
header .cart {
    position: absolute;
    right: 5%;
    font-size: 40px;
    color: #ffa500;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
header .count-item {
    font-size: 10px;
    position: absolute;
    right: -7px;
    top: 0px;
    border-radius: 50px;
}

/* header end */

/* menu start  */
.categories {
    position: fixed;
    top: 200px;
    left: 10px;
}

.categories .scroll-menu {
    width: 150px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0px;
}
.categories .scroll-menu:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.categories .scroll-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.menu {
    margin-top: 50px;
}
.category {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: "Roboto Slab", serif;
}
.category:not(:last-child):before {
    content: "";
    position: absolute;
    height: 0.5px;
    width: 100%;
    border: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffa500, rgba(0, 0, 0, 0));
    bottom: -30px;
}
.category .title {
    margin-bottom: 20px;
}
.category .title h1 {
    margin: auto;
    text-align: center;
    font-family: "Lobster", cursive;
}
.category .list-item {
    max-width: 1093px;
    margin: auto;
}
.category .item {
    overflow: hidden;
    width: 250px;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}
.category .item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 300px;
    opacity: 0.8;
    background-repeat: no-repeat;
}

.category .item img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    transition: 0.2s linear;
    cursor: pointer;
}
.category .item img:hover {
    transform: translateX(-50%) rotate(-5deg) scale(1.2);
}

.category .name {
    width: 100%;
    position: absolute;
    bottom: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: 0.2s linear;
}
.category .item .name::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 0.5px;
    bottom: -5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #ffa500, rgba(0, 0, 0, 0));
}
.category .item .price {
    text-align: center;
    position: absolute;
    bottom: 60px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.category .item .buy-now {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    color: #ffa500;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #ffa500;
    overflow: hidden;
    user-select: none;
}
.category .buy-now:hover {
    color: black;
}
.category .buy-now::before {
    content: "";
    background: #ffa500;
    left: -200px;
    top: -40px;
    border: 2px solid #ffa500;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: -2;
}
.category .buy-now:hover::before {
    left: -49px;
    top: -75px;
}

.read-more {
    color: #ffa500;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    overflow: hidden;
    right: 200px;
}
.read-more::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1.5px;
    bottom: 0px;
    background-color: #ffa500;
    transition: 0.15s linear all;
    right: 101px;
}
.read-more:hover {
    color: #ffa500;
}
.read-more:hover::before {
    right: 1px;
}
/* menu end */
/* cart */

.offcanvas-body::-webkit-scrollbar {
    width: 0px !important;
}

#my-cart {
    background-color: #1d1d1d;
}
#my-cart h1 {
    width: 100%;
    text-align: center;
}
#my-cart .item {
    position: relative;
    width: 100%;
    height: 270px;
    margin-bottom: 100px;
}

.item::before {
    content: "";
    position: absolute;
    height: 0.5px !important;
    width: 100%;
    background: linear-gradient(to right, transparent, #ffa500, transparent);
    bottom: -20px;
}
#my-cart .item img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: 140px;
    height: 120px;
}
#my-cart .name {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 120px;
    font-size: 20px;
}
#my-cart .price {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    font-size: 20px;
    user-select: none;
}
.quantity {
    position: absolute;
    top: 160px;
    user-select: none;
    width: 100%;
}

.quantity .decrease {
    position: absolute;
    left: 30%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.quantity .increase:hover,
.quantity .decrease:hover {
    border-color: #ffa500;
    color: #ffa500;
}
.quantity .number {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    top: 5px;
}
.quantity .increase {
    right: 30%;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.remove-item {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: pointer;
}

.checkout {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #272727;
}
.checkout::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0px;
    background: linear-gradient(to right, transparent, #ffa500, transparent);
}
.checkout-button {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 10%;
    transition: 0.2s linear;
    left: 230px;
    color: white;
    text-decoration: none;
}
.remove-all {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    bottom: 10%;
    left: 230px;
    transition: 0.2s linear;
}
.checkout-button::before,
.checkout-button::after,
.remove-all::before,
.remove-all::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 2px solid transparent;
    transition: 0.2s linear;
}
.checkout-button::before,
.remove-all::before {
    top: 0px;
    left: 0px;
}
.checkout-button::after,
.remove-all::after {
    bottom: 0px;
    right: 0px;
}

.checkout-button:hover::before {
    border-top: 2px solid #ffa500;
    border-left: 2px solid #ffa500;
    width: 100%;
    height: 100%;
}
.checkout-button:hover::after {
    border-bottom: 2px solid #ffa500;
    border-right: 2px solid #ffa500;
    width: 100%;
    height: 100%;
}
.remove-all:hover::before {
    border-top: 2px solid #dc3545;
    border-left: 2px solid #dc3545;
    width: 100%;
    height: 100%;
}
.remove-all:hover::after {
    border-bottom: 2px solid #dc3545;
    border-right: 2px solid #dc3545;
    width: 100%;
    height: 100%;
}
.remove-all:hover {
    color: #dc3545;
}
.checkout-button:hover {
    color: #ffa500;
}
.checkout .total {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.message-add {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: 330px !important;
    right: -330px;
    top: 55px;
    transition: linear;
    opacity: 0;
}

/* cart end */
/* search box */
.search-box {
    top: 55px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-height: 300px;
    overflow: scroll;
    background: rgb(54, 54, 54);
    box-shadow: 1px 1px 10px rgb(105, 105, 105), -1px -1px 10px rgb(105, 105, 105);
    border-radius: 10px;
    z-index: 1;
}
.search-box::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
.search-box .image img {
    margin-left: 20px;
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s linear;
}
.item-search-box {
    cursor: pointer;
    position: relative;
}
.item-search-box:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.item-search-box .name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    font-size: 20px;
}
.hidden {
    display: none;
}
.user-action {
    display: flex;
    position: absolute;
    right: 150px;
}
/* search-box end */

/*Detail start*/
.img-detail {
    width: 500px;
    height: 400px;
}
.fade {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
}
.buttons-added-detail {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}
.is-form-detail {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}
.is-form-detail:focus,
.input-text:focus {
    outline: none;
}
.is-form-detail.minus {
    border-radius: 4px 0 0 4px;
}
.is-form-detail.plus {
    border-radius: 0 4px 4px 0;
}
.input-qty-detail {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}
.input-qty-detail::-webkit-outer-spin-button,
.input-qty-detail::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-title {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(206, 187, 113);
}
.disc-detail {
    font-family: sfudinengalt, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.52);
}
#price-detail {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #c31c1c;
}
.calories-detail {
    max-width: 400px;
    padding: 0;
    margin: 0;
    border: solid 1px rgb(177, 177, 177);
}
.calories-detail .row1 {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(246, 124, 1);
    height: 50px;

    margin: 0 auto;
}
.calories-detail .row2 {
    margin: 0 auto;
    font-size: 16px;
    color: black;
}
/*Detail end*/
/* checkout */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.ck-container h2 {
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    font-size: 1.2rem;
}
.ck-container {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #1d1d1d;
    margin-top: 20px;
    margin-bottom: 100px;
}
.ck-container .dropdown-select.visible {
    display: block;
}
.ck-container .dropdown {
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}
.ck-container ul li {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
}
.ck-container ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.dropdown-select {
    position: absolute;
    background: #77aaee;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
    left: 2px;
    line-height: 2em;
    margin-top: 2px;
    box-sizing: border-box;
}
.ck-container .thin {
    font-weight: 400;
}
.ck-container .small {
    font-size: 12px;
    font-size: 0.8rem;
}
.half-input-table {
    border-collapse: collapse;
    width: 100%;
}
.half-input-table td:first-of-type {
    border-right: 10px solid #4488dd;
    width: 50%;
}
.ck-container .window {
    height: 570px;
    width: 800px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 10;
}
.ck-container .order-info {
    color: black;
    height: 100%;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    color: black;
}
.ck-container .price {
    bottom: 0px;
    position: absolute;
    right: 0px;
    color: #4488dd;
}
.ck-container .order-table td:first-of-type {
    width: 25%;
}
.ck-container .order-table {
    position: relative;
}
.ck-container .line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ddd;
}
.ck-container .order-table td:last-of-type {
    vertical-align: top;
    padding-left: 25px;
}
.ck-container .order-info-content {
    table-layout: fixed;
    height: 85%;
    overflow: scroll;
}
.ck-container .order-info-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.ck-container .full-width {
    width: 100%;
}
.ck-container .pay-btn {
    border: none;
    background: #22b877;
    line-height: 2em;
    border-radius: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 50px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ck-container .pay-btn:hover {
    background: #22a877;
    color: #eee;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ck-container .total {
    margin-top: 25px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    right: 27px;
    left: 35px;
}
.ck-container .dense {
    line-height: 1.2em;
    font-size: 16px;
    font-size: 1rem;
}
.ck-container .input-field {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-top: 3px;
    line-height: 1.5em;
    font-size: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ck-container .credit-info {
    background: #4488dd;
    height: 100%;
    width: 50%;
    color: #eee;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
.ck-container .dropdown-btn {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-btn:after {
    content: "\25BE";
    right: 8px;
    position: absolute;
}
.ck-container .dropdown-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-select {
    display: none;
}
.ck-container .credit-card-image {
    display: block;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
.ck-container .credit-info-content {
    margin-top: 25px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
@media (max-width: 600px) {
    .ck-container .window {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0px;
    }
    .ck-container .order-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .credit-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .pay-btn {
        border-radius: 0px;
    }
}

/* checkout end */
/* account info */

.Acount-detail div.container.rounded {
    width: 70%;
    margin: 0 auto;
}

.Acount-detail img.rounded-circle.mt-5 {
    width: 180px;
    height: auto;
}
.Acount-detail .form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
}

.Acount-detail .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.Acount-detail .profile-button:hover {
    background: #682773;
}

.Acount-detail .profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.Acount-detail .profile-button:active {
    background: #682773;
    box-shadow: none;
}

.Acount-detail .labels {
    font-size: 11px;
}

.Acount-detail button.btn.profile-button {
    background-color: #434e6e;
    color: #ffffff;
}
.Acount-detail .password-text {
    cursor: pointer;
    width: 100px;
}

/* modal  */
.Acount-detail .modal {
    cursor: default;
}

.Acount-detail .modal-content {
    margin-top: 150px;
}
.Acount-detail .modal-footer {
    justify-content: center;
}
.Acount-detail .submit-form {
    position: relative;
}
.Acount-detail .submit-form input {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.Acount-detail .modal-body label:not(:first-child) {
    margin-top: 10px;
}
/* end account info */
